# Enable URL rewriting
RewriteEngine On

# Redirect requests to the appropriate PHP file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

# Custom error pages
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

# Deny access to the .htaccess file itself
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>


# Enable Gzip compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json
</IfModule>