<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/home_page.css">
    <link rel="stylesheet" href="../Assets/css/input.css">
    <title>Add Task</title>
</head>

<body>
    <div class="parent">
        <div class="div1 sidebar ">
            <ul>
                <li><a href="Fooldal.html"><svg class="svg" fill="#000000" width="50px" height="50px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <path d="M31.772 16.043l-15.012-15.724c-0.189-0.197-0.449-0.307-0.721-0.307s-0.533 0.111-0.722 0.307l-15.089 15.724c-0.383 0.398-0.369 1.031 0.029 1.414 0.399 0.382 1.031 0.371 1.414-0.029l1.344-1.401v14.963c0 0.552 0.448 1 1 1h6.986c0.551 0 0.998-0.445 1-0.997l0.031-9.989h7.969v9.986c0 0.552 0.448 1 1 1h6.983c0.552 0 1-0.448 1-1v-14.968l1.343 1.407c0.197 0.204 0.459 0.308 0.722 0.308 0.249 0 0.499-0.092 0.692-0.279 0.398-0.382 0.411-1.015 0.029-1.413zM26.985 14.213v15.776h-4.983v-9.986c0-0.552-0.448-1-1-1h-9.965c-0.551 0-0.998 0.445-1 0.997l-0.031 9.989h-4.989v-15.777c0-0.082-0.013-0.162-0.032-0.239l11.055-11.52 10.982 11.507c-0.021 0.081-0.036 0.165-0.036 0.252z"></path>
                </svg></a></li>
                <li><a href="add_task.html"><svg width="50px" height="50px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="Edit / Add_Plus_Square">
                    <path id="Vector" d="M8 12H12M12 12H16M12 12V16M12 12V8M4 16.8002V7.2002C4 6.08009 4 5.51962 4.21799 5.0918C4.40973 4.71547 4.71547 4.40973 5.0918 4.21799C5.51962 4 6.08009 4 7.2002 4H16.8002C17.9203 4 18.4801 4 18.9079 4.21799C19.2842 4.40973 19.5905 4.71547 19.7822 5.0918C20.0002 5.51962 20.0002 6.07967 20.0002 7.19978V16.7998C20.0002 17.9199 20.0002 18.48 19.7822 18.9078C19.5905 19.2841 19.2842 19.5905 18.9079 19.7822C18.4805 20 17.9215 20 16.8036 20H7.19691C6.07899 20 5.5192 20 5.0918 19.7822C4.71547 19.5905 4.40973 19.2842 4.21799 18.9079C4 18.4801 4 17.9203 4 16.8002Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    </svg></a></li>
                <li><a href="profile.html"><svg fill="#000000" width="50px" height="50px" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: none;
                        }
                      </style>
                    </defs>
                    <path d="M16,8a5,5,0,1,0,5,5A5,5,0,0,0,16,8Zm0,8a3,3,0,1,1,3-3A3.0034,3.0034,0,0,1,16,16Z"/>
                    <path d="M16,2A14,14,0,1,0,30,16,14.0158,14.0158,0,0,0,16,2ZM10,26.3765V25a3.0033,3.0033,0,0,1,3-3h6a3.0033,3.0033,0,0,1,3,3v1.3765a11.8989,11.8989,0,0,1-12,0Zm13.9925-1.4507A5.0016,5.0016,0,0,0,19,20H13a5.0016,5.0016,0,0,0-4.9925,4.9258,12,12,0,1,1,15.985,0Z"/>
                    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
                  </svg></a></li>
                <li> <a href="javascript:confirmLogout();"><svg fill="#000000" width="50px" height="50px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16 13v-2H7V8l-5 4 5 4v-3z"/><path d="M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2z"/></svg></a></li>
            </ul>
        </div>
        <div class="div2"> </div>
        <div class="content div3">
            <h2>Új Feladat</h2>
            <form id="add-task-form">
                <div class="form-group">
                    <label for="inp" class="inp">
                        <input type="text" id="t_name" class="inp" name="t_name" placeholder="" &nbsp required>
                        <span class="label">Feladat név</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="inp" class="inp">
                        <input type="text" id="description" class="inp" name="description" placeholder="" &nbsp required>
                        <span class="label">Leirás</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="custom-select" for="styledSelect1">
                    <!--<label for="label-filter">Label:</label>-->
                    <select id="styledSelect1" name="label_id"><!--
                    <select id="label-filter" name="label_id" class="custom-select">-->
                       
                        <!-- Add options dynamically from the database -->
                    </select>
                </label>
                </div>
                <div class="form-group">
                    <label for="inp" >
                        <label for="priority">Fontosság:</label>
                    <input type="range" id="priority" name="priority" min="0" max="10" value="5"  oninput="updatePriorityValue(this.value)">
                    <br>
                    <span id="priority-value">5</span>
                    </label>
                    
                </div>
                <div class="form-group">
                    <label for="progresson">Előrehaladás:</label>
                    <input type="number" id="progresson" name="progresson">
                </div>
                <div class="form-group">
                    <label for="deadline">Határidő:</label>
                    <input type="date" id="deadline" name="deadline">
                </div>
                <button type="submit">Feladat Hozzáadás</button>
            </form>
            <div id="message"></div>
        </div>
    </div>
    <script src="../Assets/js/add_task.js"></script>
    <script src="../Assets/js/logout.js"></script>
    <script>
        function updatePriorityValue(value) {
            document.getElementById('priority-value').textContent = value;
        }
    </script>
</body>

</html>