<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Assets/css/home_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <div class="sidebar">
        <h2>Dashboard</h2>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="add_task.html">Új Feladat</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li> <a href="javascript:confirmLogout();">Log Out</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="form-group">
            <label for="deadline">Nap</label>
            <input type="date" id="deadline" name="deadline">
        </div>
        <div id="tasks-container" class="day"></div>
    </div>
    <script src="../Assets/js/tasks.js"></script>
    <script src="../Assets/js/logout.js"></script>
</body>
</html>