<!--   
<!DOCTYPE html>
<html lang="hu" >
<head>
  <meta charset="UTF-8">
  <title>Bejelentkezés</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../Assets/css/Login_Style.css">
  
</head>
<body>
  
  <div id="login-component">
    <h2>Bejelentkezés</h2>
    <form id="login-form" action="login.php">
    <p>
    <input type="text" id="username" name="username" placeholder="Felhasználónév" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="email" id="email" name="email" placeholder="Email cím" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Login">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Nincs fiókja? <a href="#">Regisztráció</a><p>
  </div>
</div>


</body>
<script src="../Assets/js/common.js"></script>
</html>

-->

<!DOCTYPE html>
<html>
<head>
	<title>Bejelentkezés</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
  <link rel="stylesheet" href="../Assets/css/Login_Style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Regisztráció</label>
					<input type="text" name="txt" placeholder="Felhasználónév" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Jelszó" required="">
					<button>Regisztráció</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Bejelentkezés</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Jelszó" required="">
					<button>Bejelentkezés</button>
				</form>
			</div>
	</div>
</body>
</html>


<!-- Ötletek -->
<!--
  
https://www.w3schools.com/w3css/tryw3css_templates_cv.htm

https://www.w3schools.com/w3css/tryw3css_templates_restaurant_modal.htm




-->