<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/home_page.css">
    <link rel="stylesheet" href="../Assets/css/input.css">
    <title>Profil</title>
</head>

<body>
    <div class="parent">
        <div class="div1 sidebar ">
            <ul>
                <li><a href="Fooldal.html">Home</a></li>
                <li><a href="add_task.html">Új Feladat</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li> <a href="javascript:confirmLogout();">Kijlentkezés</a></li>
            </ul>
        </div>
        <div class="div2"> </div>
        <div class="content div3">
            <h2>Profil</h2>
            <form>
                <div class="form-group">
                    <label >
                        
                        <span class="label">Név: </span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                       
                        <span class="label">Email:</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                <div class="form-group">
                    <label >
                        
                        <span class="label">Jelszó:</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>




                <button type="submit">Profil szerkesztése</button>

            </form>
            <div id="message"></div>
        </div>
    </div>
    
</body>

</html>